.contact-us {
  
  .text-area {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 0.5em;
    }
    #message-input {
      margin: 0 auto;
    }
  }
}

.form {
  height: 80vh;
}