$buttonColor: #a74ee1;
$backgroundColor: #121212;
$fontColor: #fff;

html {
  background-color: $backgroundColor;
  width: 100vw;
}

.App {
  background-color: $backgroundColor;
  width: 100vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  button {
    width: 7em;
    background-color: $buttonColor;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    padding: 0.5em;
    color: #fff;
    font-weight: bold;
  }
}
