.eventCard {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: rgba($color: #fff, $alpha: 0.1);
  padding: 0;
  border-radius: 15px;
  margin: 1.2em auto;

  a {
    text-decoration: none;
    color: inherit;
  }

  .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0 0.5em;
      padding: 0.5em 0;
      //font-weight: 300;
      //font-size: 20px;
      //line-height: 29px;
      //letter-spacing: 0.3em;
    }
  }

  img {
    width: 70vw;
    border-radius: 0 0 15px 15px;
    margin-bottom: -0.5em;
  }
}
