.home {
  height: 100vh;
  //background: url('/images/homePage.jpg') center/70vh no-repeat;
  //background: rgba($color: #000, $alpha: 0.1) center no-repeat;
  background: #000000;  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/homePage.jpg") center/100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 3em;
    color: white;
  }
  a {
    margin-top: 7em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0.5em;
    background-color: rgba($color: #fff, $alpha: 0.1);
    border-radius: 2em;
  }
}
