.logoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2em 1.5em 0;
  a {
    text-decoration: none;
    color: white;
  }
  button {
    background-color: #121212;
    border: 0;
    // margin: 0 1em;
    padding: 0;
    width: fit-content;
  }
  #logo-icon {
    width: 1em;
    // margin: 0.3em 1em;
  }
}
