.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5em;
  form {
    width: 70vw;
    background-color: rgba($color: #fff, $alpha: 0.1);
    padding: 3em 0;
    border-radius: 15px;
  }
  input {
    width: 50vw;
    background-color: #121212;
    border-radius: 30px;
    color: white;
    padding: 1.5em 1em;
    margin: 1em;
    border: 1px solid #121212;
  }
  button {
    margin-top: 1em;
    color: white;
    padding: 1em;
    font-size: 1.2em;
    border: 1px solid #121212;
  }
  ::placeholder {
    color: white;
    font-size: 1.3em;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
  }
  input[value]{
    font-weight: bold;
    text-align: center;
  }
}
@media (min-width: 841px) {
  .form {
    form {
      width: 70vw;
    }
    input {
      width: 60vw;
    }
  }
}
