.profileCard {
  height: 100vh;
  img{
    max-width: 100%;
    width: 3em;
  }

  h1 {
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.3em;
    padding-top: 1.5em;
  }

}