.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-bottom: 3.5em;
  h1 {
    margin-bottom: 1em;
  }

  .profile-pic {
    background-color: white;
    border-radius: 50%;
    padding: 1em;
    margin-bottom: 1em;
    
  }

  img {
    max-width: 100%;
    width: 3em;
  }
  h4 {
    margin-top: 0.5em;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 0.5em 1em;
    border-radius: 30px; 
  }
  
  

  a {
    text-decoration: none;
    margin-top: 2em;
    margin: 0;

  }

  h1 {
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.3em;
    padding-top: 1.5em;
  }
  .invites {
    margin-top: 3em;
    
    h6 {
      font-size: 1.5em;
      margin: 0 auto;
    }
    p {
      font-size: 1.5em;
      text-decoration: none;
      color: white;
    }
    img {
      margin: 0 auto; 
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    
  }

  
}


.edit {
  width: 7em;
  background-color: #a74ee1;
  border-radius: 15px;
  padding: 1em 0.2em;
  color: #fff;
  font-weight: bold;
}