.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background-color: rgba(18, 18, 18, 0.75);
  padding: 1em 0;
  a,
  img {
    width: 3rem;
  }
  position: fixed;
  left: 0;
  bottom: 0;
}
